
<div class="container">
    <div class="row justify-content-center align-items-center v-100 mt-5 py-5">
        <div class="col-md-7">
            <form [formGroup]="formTelefone" class="d-flex flex-column gap-5">
                <fieldset>
                    <legend>Cadastrar Telefone ao Colaborador</legend>
                    <div class="row">
                        <div class="mb-3 col-8">
                            <label for="numero" class="form-label">Número *</label>
                            <input type="text" formControlName="numero" class="form-control" id="numero">
                        </div>
                        <div class="mb-3 col">
                            <label for="tipoSelect" class="form-label">Tipo Telefone *</label>
                            <select id="tipoSelect" formControlName="tipo" class="form-select">
                                <option value="1">Residêncial</option>
                                <option value="2">Comercial</option>
                                <option value="3">Celular</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <div *ngIf="errors.length > 0" class="alert alert-danger" role="alert">
                    Ocorreu um erro ao processar sua solicitação.
                    <ul class="m-0 mt-3" style="padding-left: 15px">
                        <li *ngFor="let error of errors">{{error.value}}</li>
                    </ul>
                </div>
                <button type="submit" (click)="cadastrarTelefone()" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>